* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFF;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.4em;
}

paper-button {
	background: #2196F3;
}

/* <header> */

header {
	display: flex;
	flex-direction: column;
	background-color: #212121;
	padding: 1.8em 0px;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-banner {
	max-width: 256px;
	max-height: 256px;
	flex-shrink: 0;
}

#logo-text {
	font-size: 8em;
}

@media only screen and (min-width: 768px) {
	#logo-banner {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 767px) {
	#logo {
		flex-wrap: wrap;
	}

	#logo > * {
		width: 100%;
	}

	#logo-text {
		margin: 0px;
	}

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	#logo-text {
		font-size: 30vw;
	}
}

#header-subtext {
	display: flex;
	justify-content: center;
}

#header-subtext > h3{
	width: 50%;
	text-align: center;
	color: rgba(255,255,255,0.7);
}

@media only screen and (max-width: 767px) {
	#header-subtext > h3{
		width: 100%;
	}
}

#header-buttons {
	display: flex;
	justify-content: center;
	margin: 1.5em 0px 0.5em;
}

#header-buttons > a {
	text-align: center;
	margin-bottom: 10px;
}

#header-buttons > a:last-child {
	margin-bottom: 0px;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	#header-buttons {
		flex-direction: column;
	}
}

.img-1-3 {
	width: 33%;
	min-width: 512px;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	.img-1-3 {
		width: 90%;
		max-width: 512px;
		min-width: 300px;
	}
}

/* </header> */

/* <main> */

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #303030;
	padding-bottom: 10vh;
}

#main > * {
	text-align: center;
}

#main > h1 {
	margin-top: 8vh;
}

#main > h1:first-child {
	margin-top: 10vh;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	#main > h1 {
		margin-top: 4vh;
	}

	#main > h1:first-child {
		margin-top: 6vh;
	}
}

.main-subtext {
	margin: 0px 10vw;
	font-size: 1.4em;
	color: rgba(255,255,255,0.7);
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
	.main-subtext {
		margin: 0px 5vw;
	}
}

.gallery-container {
	display: flex;
	justify-content: center;
}

.gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 528px;
}

.thumb {
	width: 72px;
	height: 128px;
	margin: 0px 8px;
}

/* </main> */

footer {
	display: flex;
	background-color: #212121;
	height: 10vh;
}
